<%= form_for [:admin, @subject] do |f| %>
  <div class="col-md-8 col-md-offset-2">
    <%= f.label t ".name" %>
    <%= f.text_field :name, class: "form-control" %>
    <%= raw error_message(@subject, :name) %>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <%= f.label t ".description" %>
    <%= f.text_field :description, class: "form-control" %>
    <%= raw error_message(@subject, :description) %>
  </div>
  <div class="col-md-3 col-md-offset-2">
    <%= f.label t ".question_number" %>
    <%= f.number_field :question_number, min: 0, step: 1, class: "form-control" %>
    <%= raw error_message(@subject, :question_number) %>
  </div>
  <div class="col-md-3">
    <%= f.label t ".score_pass" %>
    <%= f.number_field :score_pass, min: 0, step: 1, class: "form-control" %>
    <%= raw error_message(@subject, :score_pass) %>
  </div>
  <div class="col-md-2">
    <%= f.label t ".duration" %>
    <%= f.number_field :duration, min: 0, step: 1, class: "form-control" %>
    <%= raw error_message(@subject, :duration) %>
  </div>
  <div class="col-md-4 col-md-offset-4 mg-top-10">
    <%= f.submit yield(:button_text), class: "btn btn-success" %>
  </div>
<% end %>
