<%= form_for @question, url: url, html: {class: "form-horizontal"} do |form| %>
  <div class="form-group">
    <div class="col-md-5">
      <%= form.label :question_content, t(".ques_content") %>
      <%= form.text_area :question_content, class: "form-control custom-textarea-question-content", required: true %>
      <div class="input-file">
        <%= form.file_field :question_image, accept:"image/jpeg,image/gif,image/png"%>
        <label for="question_question_image">Attach images to question (PNG, JPG)</label>
        <% if @question.question_image.attached? %>
          <%= @question.question_image_path %>
          <ul class="preview" style="display: flex;">
            <%= form.hidden_field :is_attach_image, value: true %>
            <li>
              <i class="fa fa-close preview-close"></i>
              <%= image_tag @question.question_image, width: "50", height: "50", id: "image-attach" %>
            </li>
          </ul>
        <% else %>
          <ul class="preview">
          </ul>
        <% end %>
      </div>
    </div>
    <div class="col-md-3 col-md-offset-1">
      <%= form.label :subject, t(".subject") %>
      <%= form.select "subject_id", options_for_select(@subject, selected: @question.subject_id || params[:subject_id]), {}, {class: "form-control custom-select" }%>
    </div>
    <div class="col-md-2 col-md-offset-1">
      <%= form.label :question_type, t(".type") %>
      <%= form.select :question_type, options_for_select(Question.types_i18n, selected: @question.question_type), {}, {class: "form-control custom-select", onchange: "clearChecked()"} %>
    </div>
  </div>
  <hr>
  <div>
    <div id="answers">
      <%= form.fields_for :answers, html: { class: "form-horizontal answerForm" } do |field| %>
        <%= render "answer_fields", f: field %>
        <%= raw error_message(@question, :answers) %>
      <% end %>
      <div class="links">
        <%= link_to_add_association t(".add"), form, :answers, partial: "answer_fields", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="actions save-question">
    <%= form.submit t(".submit"), class: "btn btn-success" %>
  </div>
<% end %>
