<% provide :title, t(".title") %>
<h1><%= @exam.subject_name %></h1>
<hr>
<div class="user-exam">
  <% if @exam.doing? %>
    <%= hidden_field_tag :endtime, @exam.endtime %>
    <%= hidden_field_tag :exam_id, @exam.id %>
    <div class="fixed clock-fixed">
      <div><i class="fa fa-clock-o" aria-hidden="true"></i></div>
      <div class="countdown"></div>
    </div>
    <% if @questions.any? %>
      <%= render "do_test", object: @questions.includes([:answers]) %>
    <% end %>
  <% else %>
    <div class="fixed result-fixed">
      <span><%= t(".score") %>: <%= @exam.result %></span>
    </div>
    <% if @questions.any? %>
      <%= render "view_test", object: @questions.includes([:answers]) %>
    <% end %>
  <% end %>
</div>
